body {
  font-family: Arial, sans-serif;
  background-color: #FCBBE6;
  color: #050505;
  margin: 0;
  padding: 0;
}
header {
    background-color: #EB6AC4;
    color: white;
    padding: 1em;
    text-align: center;
}
main {
  padding: 2em;
  max-whith: 800px;
  margin: auto;
}
footer { 
  background-color:#FCBBE6;
  color: white;
  text-align: center;
  padding: 1em;
  position: relative;
  bottom: 0;  
  margin-top: 2em;
}
