body {
  font-family: Arial, sans-serif;
  background-color: #FCBBE6;
  color: #050505;
  margin: 0;
  padding: 0;
}
header {
    background-color: #EB6AC4;
    color: white;
    padding: 1em;
    text-align: center;
}
nav ul {
  list-style:
  padding:
  margin:
  max-width:
}
nav ul li {
  background-color: white   
